<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Produtos</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>
<body>
    <h1 class="page-title">Produtos Encontrados</h1>

    <!-- Filtros -->
    <div class="center">
        <h2 class="filters__title">Filtros:</h2>
        <a href="?frete_gratis=1" class="filters__link">Frete Grátis</a>
        <a href="?full=1" class="filters__link">Entregue pelo Full</a>
    </div>

    <!-- Ordenação -->
    <div class="center">
        <h2 class="sorting__title">Ordenação:</h2>
        <a href="?ordenacao=maior_preco" class="sorting__link">Maior Preço</a>
        <a href="?ordenacao=menor_preco" class="sorting__link">Menor Preço</a>
        <a href="?ordenacao=maior_desconto" class="sorting__link">Maior Desconto</a>
    </div>

    <!-- Extras -->
    <div class="center">
        <h2 class="highlights__title">Destaques:</h2>
        <p class="highlights__item">Maior Preço: {{ maior_preco.nome }} - R$ {{ maior_preco.preco }}</p>
        <p class="highlights__item">Menor Preço: {{ menor_preco.nome }} - R$ {{ menor_preco.preco }}</p>
        <p class="highlights__item">Maior Desconto: {{ maior_desconto.nome }} - {{ maior_desconto.percentual_desconto }}% OFF</p>
    </div>

    <!-- Lista de Produtos -->
    <ul class="product-list">
        {% for produto in produtos %}
        <li class="product-list__item">
            <img src="{{ produto.imagem }}" alt="{{ produto.nome }}" class="product-list__image">
            <h2 class="product-list__title">{{ produto.nome }}</h2>
            <p class="product-list__price">Preço: R$ {{ produto.preco }}</p>
            <p class="product-list__installments">Parcelamento: {{ produto.parcelamento }}</p>
            <p><a href="{{ produto.link }}" class="product-list__link" target="_blank">Ver Produto</a></p>
            {% if produto.preco_sem_desconto %}
            <p class="product-list__old-price">Preço sem Desconto: R$ {{ produto.preco_sem_desconto }}</p>
            <p class="product-list__discount">Desconto: {{ produto.percentual_desconto }}%</p>
            {% endif %}
            <p class="product-list__delivery">Tipo de Entrega: {{ produto.tipo_entrega }}</p>
            {% if produto.frete_gratis %}
            <p class="product-list__shipping">Frete Grátis: Sim</p>
            {% else %}
            <p class="product-list__shipping">Frete Grátis: Não</p>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</body>
</html>
